{% extends 'base.html.twig' %}

{% block page_title %}
    Chaînes TNT
{% endblock %}

{% block body %}
    <div 
        {{ 
            vue_component(
                'Dashboard', 
                { channels: channels }
            ) 
        }}
    ></div>
{% endblock %}
