@import "@nordhealth/fonts/lib/fonts.css";
@import "@nordhealth/css";
@import "@nordhealth/themes/lib/nord.css";

body {
    font-family:
        "Nordhealth Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
}

.tv__body {
    padding-bottom: 100px;
}

.channel-page-title__back {
    display: none;
}

@media (max-width: 640px) {
    .channel-page-title__back {
        display: inline-flex;
    }
}

:root {
    --n-color-accent-secondary: #310d77;
}
